---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import imgOmelette from "../assets/images/image-omelette.jpeg";
import { Image, imageConfig } from "astro:assets";
import Article from "../components/Article.astro";
import ListItems from "../components/ListItems.astro";
import List from "../components/List.astro";

const NUTRITIONS = [
  {
    title: "Calories",
    value: "277kcal",
  },
  {
    title: "Carbs",
    value: "0g",
  },
  {
    title: "Protein",
    value: "20g",
  },
  {
    title: "Fat",
    value: "22g",
  },
];
---

<Layout title="Recipe  page">
  <main class="w-dvw h-dvh bg-transparent flex justify-center items-center">
    <Card class="w-2/4 p-4 gap-y-6 flex flex-col rounded-xl">
      <Image class={``} src={imgOmelette} alt={`Omelette`} />

      <h1 class="text-4xl">Simple Omelette Recipe</h1>
      <p class="text-base text-pretty">
        An easy and quick dish, perfect for any meal. This classic omelette
        combines beaten eggs cooked to perfection, optionally filled with your
        choice of cheese, vegetables, or meats.
      </p>

      <article class="px-10 py-5 bg-rose-white rounded-lg">
        <h3 class="text-dark-raspberry font-semibold">Preparation time</h3>
        <ul class="list-disc text-wenge-brown ml-4">
          <li>
            <span class="font-semibold">Total:</span> Approximately 10 minutes
          </li>
          <li><span class="font-semibold">Preparation:</span> 5 minutes</li>
          <li><span class="font-semibold">Cooking:</span> 5 minutes</li>
        </ul>
      </article>

      <Article title="Ingredients">
        <ListItems>
          <List>2-3 large eggs</List>
          <List>Salt, to taste</List>
          <List>Pepper, to taste</List>
          <List>1 tablespoon of butter or oil</List>
          <List>
            Optional fillings: cheese, diced vegetables, cooked meats, herbs
          </List>
        </ListItems>
      </Article>

      <Article title="Instructions">
        <ListItems>
          <List>
            <span class="font-semibold">Beat the eggs:</span> In a bowl, beat the
            eggs with a pinch of salt and pepper until they are well mixed. You can
            add a tablespoon of water or milk for a fluffier texture.
          </List>
          <List>
            <span class="font-semibold">Heat the pan:</span> Place a non-stick frying
            pan over medium heat and add butter or oil.
          </List>
          <List>
            <span class="font-semibold">Cook the omelette:</span> Once the butter
            is melted and bubbling, pour in the eggs. Tilt the pan to ensure the
            eggs evenly coat the surface.
          </List>

          <List>
            <span class="font-semibold">Add fillings (optional):</span> When the
            eggs begin to set at the edges but are still slightly runny in the middle,
            sprinkle your chosen fillings over one half of the omelette.
          </List>

          <List>
            <span class="font-semibold">Fold and serve:</span> As the omelette continues
            to cook, carefully lift one edge and fold it over the fillings. Let it
            cook for another minute, then slide it onto a plate.
          </List>

          <List>
            <span class="font-semibold">Enjoy:</span> Serve hot, with additional
            salt and pepper if needed.
          </List>
        </ListItems>
      </Article>

      <Article title="Nutrition">
        <p>
          The table below shows nutritional values per serving without the
          additional fillings.
        </p>
        <table
          class="w-full border-spacing-0 Class
        Properties
        border-collapse"
        >
          <tbody class="[&>*:not(:last-child)]:border-b">
            {
              NUTRITIONS.map((nutrition) => (
                <tr>
                  <td class="p-4">{nutrition.title}</td>
                  <td class="p-4">{nutrition.value}</td>
                </tr>
              ))
            }
          </tbody>
        </table>
      </Article>
      <hr />
    </Card>
  </main>
</Layout>
